
*/.DS_Store
HealthTracker-backend/.idea/
HealthTracker-backend/node_modules
*.bkp
HealthTracker-backend/package-lock.json
HealthTracker-backend/package-lock.json
HealthTracker-backend/.env
HealthTracker-frontend/.editorconfig
HealthTracker-frontend/.vscode/*
HealthTracker-frontend/node_modules
!HealthTracker-frontend/.vscode/settings.json
!HealthTracker-frontend/.vscode/tasks.json
!HealthTracker-frontend/.vscode/launch.json
!HealthTracker-frontend/.vscode/extensions.json
*/.vscode
/HealthTracker-backend/build
