<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="user">{{user?.firstName + " " + user?.lastName + " - " + ROLE_NAMES[user?.role!]}}</mat-card-title>
  </mat-card-header>
  <mat-card-content id="action-bar">
    <form [formGroup]="filterForm">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" (dateChange)="onDateChange($event)">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field id="search-field" *ngIf="user?.role === ROLES.DOCTOR">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="search">
      </mat-form-field>
    </form>

    <button mat-fab extended color="primary" (click)="onNew()" *ngIf="user?.role === ROLES.USER">
      <mat-icon>add</mat-icon>
      New measurement
    </button>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="user?.role === ROLES.USER">
  <mat-card *ngFor="let userMeasurement of userMeasurements">
    <mat-card-header>
      <mat-card-title>{{userMeasurement.type.name + " - " + formatTime(userMeasurement.date)}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <span>
        <span class="values">
        <p *ngFor="let value of userMeasurement.type.values; index as i">{{userMeasurement.values[i] + " " + value}}</p>
        </span>
        <p *ngIf="userMeasurement.comment">Comment: {{userMeasurement.comment}}</p>
      </span>

      <button mat-raised-button color="warn" (click)="onDelete(userMeasurement._id)">Delete</button>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="user?.role === ROLES.DOCTOR">
  <mat-card *ngFor="let measurement of filteredMeasurements">
    <mat-card-header>
      <mat-card-title>
        {{measurement.user.firstName + " " + measurement.user.lastName
        + " - " + measurement.type.name + " - " + formatTime(measurement.date)}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="measurement-card-content">
      <span>
        <span class="values">
          <p *ngFor="let value of measurement.type.values; index as i">{{measurement.values[i] + " " + value}}</p>
        </span>
        <p *ngIf="measurement.comment">Comment: {{measurement.comment}}</p>
      </span>

      <span class="user-details">
        <span class="first-column">
          <p>Email: {{measurement.user.email}}</p>
          <p>Phone: {{measurement.user.phone}}</p>
        </span>
        <span class="second-column">
          <p>Birth place: {{measurement.user.birthPlace}}</p>
          <p>Birth date: {{formatDate(measurement.user.birthDate)}}</p>
        </span>
      </span>
    </mat-card-content>
  </mat-card>
</ng-container>
