<span class="card-span">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign up</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <span class="column">
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="firstName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="lastName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Birth place</mat-label>
            <input matInput type="text" formControlName="birthPlace">
          </mat-form-field>

           <mat-form-field>
            <mat-label>Birth date</mat-label>
            <input matInput formControlName="birthDate" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </span>

        <span class="column">
         <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput type="phone" formControlName="phone">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password again</mat-label>
            <input matInput type="password" formControlName="rePassword">
          </mat-form-field>
        </span>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Sign up</button>
        <button mat-raised-button color="secondary" type="button" [routerLink]="'/login'">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</span>
