.card-span {
  height: 100%;
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  width: 300px;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

mat-card-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}
